body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    color: white;
    background: url(https://live.staticflickr.com/65535/53923054737_9264c41846_o.jpg) no-repeat center center scroll;
    background-size: cover;
    text-align: center;
    width: 100%;
    

}

header {
    background-color: rgba(0, 0, 0, 0.7); /* Add transparency */
    color: white;
    text-align: right;
    font-size: 2em;
    padding-right: 0px;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 0px;
}

nav {
    color: black;
    padding-top: 625px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: 550;
    display: flex;
    text-align: center;
  
}

.container {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    display: flex;
    font-weight: 560;
    text-align: center;
}

/* Footer */
.footer {
    text-align: center;
    color: black;
    flex-direction: row;
    font-size: .8em;
    font-weight: 500;
    padding-top: 20px;
}